*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.container {
    height: 50vh;
    text-align: center;

}

.cart {
    height: 90%;
    width: 95%;
    background-color:  transparent ;
    border-radius: 2vmin;
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.cart:hover {
    background-color: rgba(255,255,255,0.8);
}

.thumbnail {
    height: 85%;
    width: 30%;
    background-color: rgb(247, 183, 183);
    border: none;
    border-radius: 1rem;
    margin: 2vmin;
    position: relative;
}

.duration {
    color: white;
    background-color: rgba(0,0,0,0.5) ;
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px;

}
.text-section {
    height: 85%;
    width: 70%;
    padding: 5px;
}

.title {
    height: 8vh;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 2vmin;
    display: flex;
    align-items: center;
}

.text-section ul {
    height: 8vh;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 1vmin;
    font-weight: 500;
    font-size: 1rem;
    color: #3f3838;
}

.channel-name {
    list-style-type: none;
}
